@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    

body{
    font-family: 'Roboto', sans-serif;
}

header {
    background: #bdf8d267;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.logo{
    cursor: pointer;
}

.cabecalho__links{
    list-style: none;
}

.cabecalho__links li{
    display: inline-block;
    padding: 0px 20px;
}

nav a{
    color: #db948d;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

main {
    background: #df744a71;
}

.texto h2{
    padding: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.texto p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    padding: 30px;
    grid-gap: 10px;
}

.item-grid{
    position: relative;
}

.item-grid .img-grid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h-1{
    grid-row: span 1;
}

.h-2{
    grid-row: span 2;
}

.w-1{
    grid-column: span 1;
}

@media screen and (max-width:768px) {
    .header {
        display: inline;
    }
    .container-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 60vh;
    }

    .h-2{
        grid-row: span 1;
    }
}

.sobre{
    margin-top: 30px;
}

.sessao__sobre{
    padding: 3rem;
}

.sobre h3{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.sobre p{
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

.sobre__mapa{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

footer{
    background: #bdf8d273;
    text-align: center;
    font-size: 20px;
    padding: 2rem;
    color: #db948d;
}

.redes{
    margin-bottom: 20px;
}

footer a{
    text-decoration: none;
}

.facebook{
    height: 40px;
    width: 40px;
}

.instagram{
    height: 40px;
    width: 40px;
}

.twitter{
    height: 40px;
    width: 40px;
}

